.root {
    -fx-background-color: linear-gradient(#385F7C, #141518);
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.label{
    -fx-text-fill:white;
    -fx-font-size:9px;
}
.text-field {
    -fx-border-color: white;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-background-color: linear-gradient(#1B303E, #2C4D64);
    -fx-text-fill:white;
    -fx-font-size:12px;
}
.combo-box{
    -fx-border-color: white;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-background-color: linear-gradient(#1B303E, #2C4D64);
}
.combo-box *.list-cell:filled *.text{
    -fx-fill: white;
    -fx-font-size:12px;
}
.separator *.line {
    -fx-opacity: 1;
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
    -fx-border-color: white;
}
.button{
}
.button1{
    -fx-background-color: lightskyblue;
    -fx-shape: "M 0,0 L -4.454,-8.727 A 5 5 1 1 1 4.454,-8.727 L 0,0 z";
}
.button2{
    -fx-background-color: red;
    -fx-shape: "M 0,0 L -4.454,-8.727 A 5 5 1 1 1 4.454,-8.727 L 0,0 z";
}